### Database ###
*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sql
*.sqlite3

### Environments ###
.env

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media
data_dump/

### Linux ###
*~

### macOS ###
*.DS_Store

### editor ###
.idea/
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml
*.cover
